# Ignore virtual environment
.venv/

# Ignore Python cache directories
__pycache__/
.pytest_cache/

# Ignore everything in data/...
data/*

# ...except this specific file
!data/kodifikaator.csv
!data/readme.md

.idea/
