# Ignore virtual environment
.venv/

# Ignore Python cache directories
__pycache__/
.pytest_cache/

# Keep the output folder (empty) via .gitkeep
output/*
!output/.gitkeep

# Ignore everything in data/...
data/*

# ...except this specific file
!data/kodifikaator.csv
